.form-control:focus {
        box-shadow: none;
        background-color: #ffffff !important;
        border: 1px solid #0d6efd !important;
    }
    .hover-shadow:hover {
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.05);
        border-color: #dee2e6 !important;
    }

.form-control:focus, 
.form-select:focus {
    box-shadow: none;
    background-color: #ffffff !important;
    border: 1px solid #0d6efd !important;
}

.hover-shadow:hover {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border-color: #dee2e6 !important;
}